scikit-learn==1.5.0
pandas==2.2.2
numpy==1.26.4
tensorflow==2.16.1
dvc==3.51.0
notebook==7.2.0
scipy==1.13.1
seaborn==0.13.2
matplotlib==3.9.0
joblib==1.4.2
Flask==3.0.3
pyYAML==6.0.1
python-box==7.1.1
tqdm==4.66.4
Flask-Cors==4.0.1
types-PyYAML==6.0.12.20240311
ensure==1.0.4
-e .